{% extends 'layout.app' %}


{% block content %}

{{ debug() }}
Vue SHOW d'une affaire.

    <h1>{{ affaires.ref_affaire }}</h1>

    <p> <a class="btn btn-primary" href="{{route('affaire.edit',affaires)}}">EDIT</a> </p>

	{{ form_open({'method': 'DELETE', url:route('affaire.destroy',affaires) }) }}
    {{ form_submit('Delete', {'class':'btn btn-danger'}) }}
	{{ form_close() }}

    <p> <a class="btn btn-primary" href="{{route('affaire.index')}}">Retour</a> </p>

{% endblock %}
