{% extends 'layout.app' %}


{% block content %}

	<div class="container">

	{% if errors.any() %}
		<ul>
			{% for errors in errors.all() %}
				<li> {{ error }} </li>
			{% endfor %}
		</ul>
	{% endif %}

	Ceci est la vue d'édition des BL.


	{{ form_open({'method': 'PUT', url:route('b_l.update',[b_ls.id]) }) }}

	<div class="form-group">
		{{ form_label('ref','Reférence BL') }}
		{{ form_text('ref', (b_ls.ref) ) }}

		{{ form_label('id_address','Adresse') }}
		{{ form_select('id_address', (idAdress), null ) }}

		{{ form_label('matricule','Immatriculation remorque') }}
		{{ form_text('matricule', (b_ls.matricule) ) }}

		{{ form_label('phone','Téléphone conducteur/responsable') }}
		{{ form_text('phone', (b_ls.phone) ) }}

		{{ form_label('name_1','Responsable 1') }}
		{{ form_text('name_1', (b_ls.name_1) ) }}

		{{ form_label('name_2','Responsable 2') }}
		{{ form_text('name_2', (b_ls.name_2) ) }}
	</div>

	{{ form_submit('save', {'class':'btn btn-primary'}) }}

	{{ form_close() }}

	</div>
{% endblock %}
