{% extends 'layout.app' %}


{% block content %}

{{ debug() }}
Ceci est la vue des pieces.

{% for b_l in b_ls %}
    <h1><a href="{{ route('b_l.show',b_l)  }}">
    	{{ b_l.ref }}
    </a></h1>

    <p>{{ b_l.description }}</p>

    <p> <a class="btn btn-primary" href="{{route('b_l.edit',b_l)}}"> EDIT</a> </p>
{% endfor %}

{% endblock %}
