{% extends 'layout.app' %}


{% block content %}

	<div class="container">

	{% if errors.any() %}
		<ul>
			{% for errors in errors.all() %}
				<li> {{ error }} </li>
			{% endfor %}
		</ul>
	{% endif %}

	Ceci est la vue d'édition des pièces.


	{{ form_open({'method': 'PUT', url:route('piece.update',[pieces.id]) }) }}

	{{ form_label('ref_piece','Reférence Pièce') }}
	{{ form_text('ref_piece', (pieces.ref_piece) ) }}

	{{ form_label('id_lot','Lot') }}
	{{ form_select('id_lot', (idLot),(pieces.id_lot)) }}

	{{ form_label('quantity','Quantité') }}
	{{ form_text('quantity', (pieces.quantity) ) }}

	{{ form_label('unit_weight','Poids Unitaire') }}
	{{ form_text('unit_weight', (pieces.unit_weight) ) }}

	{{ form_label('description','Description') }}
	{{ form_text('description', (pieces.description) ) }}

	{{ form_submit('save', {'class':'btn btn-primary'}) }}

	{{ form_close() }}

	</div>
{% endblock %}
