{% extends 'layout.app' %}

{% block content %}

<center>
  <h1> Importator Experimental !
    <p><small> V1 </small></p>
  </h1>
</center>

<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title" style="padding:12px 0px;font-size:25px;"><strong>Import/Export Excel Pieces Database</strong></h3>
    </div>
    <div class="panel-body">

        {% if ( Session.get('success')) %}
        <div class="alert alert-success" role="alert">
          {{ Session.get('success') }}
        </div>
      {% endif %}

      {% if (Session.get('error')) %}
        <div class="alert alert-danger" role="alert">
          {{ Session.get('error') }}
        </div>
      {% endif %}

      <h3>Import File Form:</h3>

      {{ form_open({'method': 'POST', url:route('importExcel'), 'files':'true' }) }}
        <form style="border: 4px solid #a1a1a1;margin-top: 15px;padding: 20px;" class="form-horizontal" method="post" enctype="multipart/form-data">

          <div class="form-group">

            {{ form_label('id_lot','Lot') }}
            <select id="id_lot" name="id_lot">
          	{% for lot in lots %}
          			<option value="{{ lot.id }}"> {{lot.affaire.ref_affaire}} - {{ lot.ref_lot }}
          	{% endfor %}
          	</select>

            <input type="file" name="import_file" />

            {{ form_submit('Import', {'class':'btn btn-primary'}) }}
            <form style="border: 4px solid #a1a1a1;margin-top: 15px;padding: 20px;" action="{{ route('importExcel') }}" class="form-horizontal" method="post" enctype="multipart/form-data">

            {{ csrf_field() }}


  	   {{ form_close() }}

       <button href="{{ route('exportPDF') }}">Export !</button>
          <br/>

            <!-- <h3>Import File From Database:</h3>
            <div style="border: 4px solid #a1a1a1;margin-top: 15px;padding: 20px;">
            <a href="{{ url('downloadExcel',['xls']) }}"><button class="btn btn-success btn-lg">Download Excel xls</button></a>
            <a href="{{ url('downloadExcel',['xlsx']) }}"><button class="btn btn-success btn-lg">Download Excel xlsx</button></a>
            <a href="{{ url('downloadExcel',['csv']) }}"><button class="btn btn-success btn-lg">Download CSV</button></a>
            </div> -->

    </div>
  </div>
</div>

{% endblock %}
