{% extends 'layout.app' %}


{% block content %}

	<div class="container">

	{% if errors.any() %}
		<ul>
			{% for errors in errors.all() %}
				<li> {{ error }} </li>
			{% endfor %}
		</ul>
	{% endif %}

	Ceci est la vue d'édition des affaires.


	{{ form_open({'method': 'PUT', url:route('affaire.update',[affaires.id]) }) }}

		<div class="form-group">
			{{ form_label('ref_affaire','Reférence Affaire') }}
			{{ form_text('ref_affaire', (affaires.ref_affaire) ) }}
		</div>


	{{ form_submit('save', {'class':'btn btn-primary'}) }}

	{{ form_close() }}

	</div>
{% endblock %}
