{% extends 'layout.app' %}

{% block content %}
Index des Colis

{% for colis in colis_s %}
    <h1><a href="{{ route('colis.show',colis)  }}" style="border-style: solid;
    border-color: {{ colis.color }}">
    	{{ colis.number }}
    </a></h1>
    <p>{{ colis.color }}</p>

    <p> <a class="btn btn-primary" href="{{route('colis.edit',colis)}}"> EDIT</a> </p>
    <p> <a class="btn btn-primary" href="{{route('colis.state',colis)}}"> STATE</a> </p>
{% endfor %}

{% endblock %}
