{% extends 'layout.app' %}

{% block content %}

	<div class="container">

	{% if errors.any() %}
		<ul>
			{% for errors in errors.all() %}
				<li> {{ error }} </li>
			{% endfor %}
		</ul>
	{% endif %}



	{{ form_open({'method': 'POST', url:route('adresse.store') }) }}

		<div class="form-group">
			{{ form_label('name','Reférence Pièce') }}
			{{ form_text('name', (adresses.name) ) }}

			{{ form_label('type','Quantité') }}
			{{ form_text('type', (adresses.type) ) }}

			{{ form_label('number','Poids Unitaire') }}
			{{ form_text('number', (adresses.number) ) }}

			{{ form_label('street','Description') }}
			{{ form_text('street', (adresses.street) ) }}

			{{ form_label('option','Description') }}
			{{ form_text('option', (adresses.option) ) }}

			{{ form_label('postal_code','Description') }}
			{{ form_text('postal_code', (adresses.postal_code) ) }}

			{{ form_label('city','Description') }}
			{{ form_text('city', (adresses.city) ) }}

			{{ form_label('state','Description') }}
			{{ form_text('state', (adresses.state) ) }}
		</div>


		<div class="form-group">
		{{ form_submit('save', {'class':'btn btn-primary'}) }}
		</div>

	{{ form_close() }}


	</div>

{% endblock %}
